xml_lead/lead.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="studInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="stud">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="dept" type="xs:string" />
              <xs:element name="phno" type="xs:unsignedLong" />
              <xs:element name="regno" type="xs:unsignedByte" />
              <xs:element name="lead" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>